html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #f0ecff;
    user-select: none;
}

input {
    color: #432000;
    background-color: #e5ebf3;
    padding-inline: 1rem;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
}

#add-button {
    cursor: pointer;
}

#add-button:hover {
    background-color: #883947;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    justify-content: center;
}

main h1 {
    font-weight: bolder;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input, button {
    border: 0;
    border-radius: 8px;
    height: 2.5rem;
    font-size: 1.1rem;
}

.form-group ::placeholder {
    text-align: center;
    color: #c2c2c2;
}

.card {
    width: 16rem;
    background-color: #fff;
    padding-block: 2rem;
    padding-inline: 2rem;
    border: 4px solid #000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 13rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

ul li {
    flex-grow: 1;
    text-align: center;
    background-color: #e1e1e1;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
}

ul li:hover {
    background-color: blanchedalmond;
}